* {
    box-sizing: border-box;
}

#main-container {
    margin: 20px;
}

#top {
    font-size: 16px;
}

#top-left {
    font-size: 1.4em;
}

#top-right {
    font-size: 1.6em;
}

#img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    height: 700px;
    margin-top: 20px;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    display: flex;
    margin: 20px;
    width: 40%;
    height: 25%;
    position: relative;
}

.img1 img, .img2 img, .img3 img {
    align-self: flex-start;
    width: 80%;
    object-fit: cover;
}

.img4 img, .img5 img, .img6 img {
    align-self: flex-end;
    width: 80%;
    object-fit: cover;
}

.vertical {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);

  }

  .img1 .horizontal, .img2 .horizontal, .img3 .horizontal {
    position: absolute;
    bottom: -7%;
    left: 30%;
    transform: translateX(-50%);
    text-align: center;
  }

  .img4 .horizontal, .img5 .horizontal, .img6 .horizontal {
    position: absolute;
    bottom: -20%;
    left: 25%;
    transform: translateX(-50%);
    text-align: center;
  }

  footer {
    text-align: center;
    margin: 20px;
  }

  @media (min-width: 780px) {

    #main-container {
        display: flex;
        flex-direction: column;
    }

    #top {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    #top-left {
        font-size: 1.2em;
        align-self: baseline;
        margin-right: 50px;
        margin-left: 0;
    }
    
    #top-right {
        font-size: 1.4em;
        margin-left: 30px;

    }

    #img-container {
        width: 80%;
        flex-direction: row;
        align-self: center;
        
    }

    .img1, .img2, .img3, .img4, .img5, .img6 {
        margin: 5px;
        width: 28%;
        height: 45%;
        align-self: center;
        margin-bottom: 15px;
    }

    .img1, .img3, .img4, .img6 {
        align-self: flex-start;
        margin-top: 0;
    }

    .img2, .img5 {
        align-self: flex-end;
        margin-bottom: 0;
    }

    .img1 img, .img3 img, .img4 img, .img6 img{
        height: 100%;
        align-self: flex-start;
    }

    .img2 img, .img5 img {
        height: 100%;
        align-self: flex-end;
    }

    .img1 .horizontal, .img3 .horizontal, .img4 .horizontal, .img6 .horizontal {
        bottom: -12%;
      }

      .img2 .horizontal, .img5 .horizontal {
        bottom: -12%;
      }

      .img1 .vertical, .img3 .vertical, .img4 .vertical, .img6 .vertical  {
        top: 5%;
        left: 75%;
      }

      .img2 .vertical, .img5 .vertical {
        top: 10%;
      } 
    
  }